{
    "vpn": "openvpn",
    "web-browsers": [
        "powershell",
        "googlechrome",
        "firefox",
        "opera"
    ],
    "office": [
        "powershell",
        "adobereader",
        "evernote",
        "libreoffice-fresh"
    ]
}